.main{
    background-color: #fffbdd;
}

.container{
    border: 0px;
    background-color: rgb(217, 217, 217);
    padding: 0px;
    
}
.gino{
    width:90%;
    margin: 2em;
    
}

#button-addon2{
   background-color: rgb(209, 102, 71);
   color: white;
}

#revise{
    background-color: rgb(209, 102, 71);
    color: white;
}

a.home{
    color: black;
}