*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}


html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}
.wrap {
  position : fixed;
  z-index: 3;
  width: 100%;
  background-color: #fffbdd;
    /* Eric新增 */
    box-shadow: 1px 0.1px black;
}

.header {
  display: flex;
  position: fixed; 
  box-sizing: border-box;
  height: 80px;
  z-index: 2;
}
body {
  margin: 0;
}

/* icon */
.min_picture {
  background-size: 60px auto;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}


.menu {
  /* padding: 20px 20px; */
  text-decoration: none;
  display: flex;
  color: #000000;
  /* border-bottom: 8px solid #fffbdd;
  padding-bottom: 8px; */
  /* height: 110px; */
  margin-right: 5px;
  position: relative;
  /* top: 15px; */
  font-size: 20px;
  
}

.select {
  height: 50px;
  background-color: transparent;
}

.menu :hover{
  color: #d16647;
  /* border-bottom: 8px solid #d16647; */
  /* height: 40px; */
  padding-bottom: 0px;
  
  margin: 0;
}

ul {
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2b5275;
  width: 100%;
  height: 160px;
  clear: both;
}

.content {
  padding-top: 80px;
  border-collapse: collapse;
  border-spacing: 0;
}

/* banner樣式 */
.upperColumn{
  background-image: url(../workImage/background.jpg);
  position: relative;
  top: 61px;
  height: 150px;
  border: 1px;
  /* display: none; */
  background-repeat: no-repeat;
  background-size: cover;
}

.upperColumn div#show {
  display: block;
  background-color: transparent;
  border: 0px;
  font-size: 24px;
  
  position: relative;
  top: 100px;
  margin-left: 5%;
  
}

.exhibitionContent {
  width: 100%;
  max-width: 100%;
}

.item {
  height: 250px;
  width: 250px;
  /* background-color: #ffffff; */
  margin: 30px;
  float: left;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.item h3 {
  margin: 0;
}
.item ul {
  padding-left: 10px;
  margin-bottom: 5px;
}
.item li {
  margin-top: 5px;
}
.itemPhoto {
  /* background-color: #fffbdd; */
  height: 150px;
  border-radius: 10px;
}
/*  */
div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* upperColumn CSS */
.headbtn{
  border: 0px;
  position: relative;
  /* top: 100px; */
  font-size: 16px;
  background-color: rgba(201, 198, 198, 0.8);
  color:  black;
 
  cursor: pointer;
}
.headbtn:hover {
  color: white;
  background: #d16647;
}

.main{
  position: relative;
  top: 60px;
  background-color: #fffbdd;
}

.footer{
  position: relative;
  top: 60px;
}

/* 2022.08.23 新增 */

ul { /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.drop-down-menu {
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
}

ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
}

ul.drop-down-menu > li:last-child {
  border-right: none;
}

ul.drop-down-menu > li {
  float: left; /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu a {
  background-color: none;
  color: #333;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  line-height: 40px;

}



ul.drop-down-menu ul {
  border: none ;
  border-color: none;
  position: absolute;
  z-index: 99;
  left: -30px;
  top: 100%;
 min-width: 120px;
 text-align: center;
 /* border-radius: 50px; */
}


ul.drop-down-menu ul { /*隱藏次選單*/
  display: none;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
  display: block;} 

.dropMeau{
   background-color: white;
}

.dropMeau:hover{
   background-color: #d16647; 
}
.dropMeau a:hover{
   color: white;
}
.topTag:hover{
   color: #d16647;
   /* bottom: 1px; */
   padding-bottom: 6px;
   border-bottom: 6px solid #d16647;
}
