.line {
    width: 100%;
    height: 10px;
    border-top: solid #848484 1px;
    margin: 0 !important;
}

.table-line {
    width: 100%;
    height: 20px;
}

.btn-outline-secondary {
    float: right;
}

.btn-outline-secondary:hover {
    background-color: #d16647 !important;
}

.btn-outline-secondary.addExhibition {
    float: left;
}