div.search{
    /* position: relative;
    top: 60px; */
    /* background-image: url(../img/lone-tree-g3e0de4207_1920.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    background-attachment: fixed;
    background-position: bottom  */
    /* top: 10%; */
    /* left: 25%; */
   
  }
  input.searchBar{
    width: 30%;
    height: 30px;
    position: relative;
    left: 35%;
    margin-bottom: 12px;
    border-radius : 30px;
    padding: 12px;
    border: 1px;
    /* text-align:center; */
  }
  button.searchBar{
    position: relative;
    left: 35%;
    font-size: 16px;
    border-radius : 16px;
    border: 0px;
    margin-bottom: 25px;
  }
 
  .dsearchText , div.searchHot{
    margin-bottom: 16px;
  }

  div.searchText{
    font-size: 20px;
    font-weight: 600;
    /* width: 20%; */
    margin-bottom: 20px;
    text-align:center;
  }

  

  button.hot ,button.record{
    position: relative;
    margin-right: 15px;
    margin-bottom: 40px;
    background-color: transparent;
    border: 0px;
    text-align:center;
  }
  button.hot:hover,button.record:hover,button.searchBar:hover{
    background-color: #A69F55;
    color: white;
  }

  .hotSearchImg{
    position: relative;
    top:10% ;
    left: 5%;

    width:90%;
  }

  .hotSearchAllImg{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 290px
    
  }

  .hotSearchAllImg img{
    height: 70%;
    width: 90%;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  }

  .hotSearchImgText{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
  }

  .searchHot ,.searchRecord{
    text-align:center;
  }




 