.head{
    background-color: white;
    width: 100%;
    border-bottom: 0.5px rgba(160, 159, 159, 0.5) solid;
    height: 40px;
    background-color: white;        
  }

  .main{
    background-color: rgba(213, 213, 213, 0.259);
    height: 1000px
  }
  .searchbar{
    width: 90%;
    border: 0px;
    /* border-left: 1px rgba(160, 159, 159, 0.5) solid; */
    caret-color: black; /* 指定色 */
    outline: none; /* 外框效果 */
  }

  .column{
    height: 40px;
    margin-top: 3px; 
    background: white;
    align-items: center;
    border-bottom: 0.5px rgba(160, 159, 159, 0.5) solid;
    overflow-x: hidden;
  }

  .column:hover{

    background-color: rgba(170, 159, 159, 0.3); 
  }

  .headbar{
    height: 40px;
    margin-top: 3px; 
    background: white;
    align-items: center;
    border-bottom: 0.5px rgba(160, 159, 159, 0.5) solid;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
  }

  .headbar button{
    width: 80px ;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px rgba(160, 159, 159, 0.5) solid;
    background-color: rgba(255, 255, 255, 0.712); 
    /* text-align: center; */
  }

  .headbar button:hover{
    background-color: rgba(128, 128, 128, 0.315);
  }
  .head{
    height: 40px;
    /* width: 100% !important; */
    margin-top: 0px; 
    background: white;
    align-items: center;
    border-bottom: 0.5px rgba(160, 159, 159, 0.5) solid;
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
  }

  .head input{
    height: 100%;
  }
  
  .searchBtn{
    width: 80px ;
    height: 40px;
    border: 0px;
    border-right: 1px rgba(160, 159, 159, 0.5) solid;
    background-color: white; 
    text-align: center;
  }

  .searchBtn:hover{
    background-color: rgba(128, 128, 128, 0.315);
  }

  .column{
    width: 100%;
  }

  .icon{
    cursor: pointer;
  }