.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2b5275;
  width: 100%;
  height: 160px;
  clear: both;
}

.content {
  padding-top: 80px;
  border-collapse: collapse;
  border-spacing: 0;
}

/* banner樣式 */
.upperColumn {
  background-color: #fffbdd;
  height: 250px;
}
.upperColumn div {
  display: none;
}
div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 路徑標示 */
.page_sign p {
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 30px;
}
