
/* 路徑標示 */
.page_sign {
    margin-top: 1%;
    display: block;
}

.page_sign p {
    margin: 5px 5% 5% 0%;
    font-size: 30px;
    display: inline;
    color: black;
}

.page_sign a {
    margin-left: 5%;
    font-size: 30px;
    display: inline;
    text-decoration: none;
}

.page_sign a:hover {
    border-bottom: 4px solid #d16647;
}

.form-control {
    width: 00px;
}

.form-check {
    margin: 3% 0% 0% 10%;
}

.form-check-input {
    margin: 0%;
}

.form-check p {
    font-size: 20px;
    color: black;
    margin: 3% 0% 3% -5%;
}

.form-check label {
    color: black;
}

.coo {
    width: 50% !important;
}

.statement {
    margin: 30px 0 30px 0;
}


.formContent {
    background-color: white;
    width: 50%;
    height: 100px;
    font-size: 15px;
    border: 1px black solid;
    /* position: relative; */
    margin-top: 0;
    padding: 0 5px
}

.form-control{
    width: 350px;
}

#dateContent{
    margin-left: 5%;
}

.d-flex p{
    font-size: 30px;
    color: #d16647;
}

.btn {
    font-size: 25px;
    margin-top: 0;
    justify-content: center;
}

#returnToFirstPage {
    font-size: 25px;
    margin-bottom: 3%;
}

.row a:hover {
    border-bottom: 4px solid #d16647;
}